.vs/
.idea/
.vscode/
.pytest_cache/

draft/
__pycache__/

bin/
dist/
build/
dazero.egg-info/

tanh.png
model.png
graph.png
goldstein.png

vgg.pdf

vgg16.png
vgg16.pdf
resnet50.png
resnet50.pdf
resnet152.png
resnet152.pdf
resnet101.png
resnet101.pdf

gan_*.png
vae_*.png
style_transfer_*.png

*.whl
*.npz